@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Kalam:wght@300;400&family=Manrope:wght@200;300;400;500&display=swap');
@import '~bootstrap/scss/bootstrap.scss';
@import url('../src/custom/custom.scss');


body, html {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
}

.row {
  display: flex;
  justify-content: center;
}
